#xushKelibsiz{
    background-color: rgba(255, 255, 255, 0.829);
    margin: auto;
    width: 60%;
  }
  #xushKelibsizRasm{
    margin-top: 5%;
    margin-left: 35%;
    width: 30%;
    height: 40%;  
  }
  #xushKelibsiz #span1 {
    background: -webkit-linear-gradient(rgb(0, 0, 0), rgb(3, 255, 108));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #xushKelibsiz #span2 {
    background: -webkit-linear-gradient(rgb(0, 0, 0), rgb(3, 255, 108));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h4{
    text-align: center;
  }
  #xushKelibsiz p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
  }
  @media screen and (max-width: 1000px) {
    #xushKelibsiz{
      background-color: rgba(255, 255, 255, 0.829);
      margin: auto;
      width: 60%; 
      height: auto !important;
    } 
  }